* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E8E8;
    margin:0;
    width:100%;
    height:100%;
}

header {
    background: url("../img/header-background.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    color: #f4f4f4;
    text-transform: uppercase;
}

nav ul {
    background-color: rgb( 0, 0, 0);
    width: 100%;
    padding: 20px;
    position: fixed;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a{
    padding: 10px 10px;
    color: white;
    text-decoration: none;

}

nav ul li a:hover {
    transition: all 0.5s ease;
    background-color: #e67692;
}

header img {
    max-width: 250px; 
    border: 4px solid  white;
    border-radius: 50%;
    margin: 80px 0 40px 0;
}

main .container img {
    width: 150px;
    height: 150px;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #F7F9F9;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #666;
}

.container section {
    margin: 20px 20px;
}

.container section h2 {
    font-size: 30px;
    color: #C0392B;
    text-align: center;
    padding-top: 20px;
}

.container p {
    line-height: 1.5;
    text-align: justify;
}

.container .title .container-lang {
    display: inline-block;
}

.container .title article{
    text-align: center;
    width: 31%;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    height: 420px;
}

.container .title article img {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 150px;
}

.container .title article p{
    display: block;
    width: 100%;
    min-height: 268px;
    padding: 10px 10px;
    text-align: left;
    border: 1px solid #E5E8E8;
}

.container-lang {
    margin: 0 auto;
    padding-left: 15px;
}

.container-lang .html5 p span {
    color: #E74C3C;
    font-weight: bold;
    border-bottom: 1px solid #E74C3C;
}

.container-lang .css3 p span {
    color: #1976D2;
    font-weight: bold;
    border-bottom: 1px solid #1976D2;
}

.container-lang .bootstrap p span {
    color: #7D3C98;
    font-weight: bold;
    border-bottom: 1px solid #7D3C98;
}

.container-lang .github p span {
    color: #17202A;
    font-weight: bold;
    border-bottom: 1px solid #17202A;
}

.container-lang .ruby p span {
    color: #FF3333;
    font-weight: bold;
    border-bottom: 1px solid #FF3333;
}

.container-lang .javascript p span {
    color: #FFCC33;
    font-weight: bold;
    border-bottom: 1px solid #FFCC33;
}

.container-lang .jquery p span {
    color: #2471A3;
    font-weight: bold;
    border-bottom: 1px solid #2471A3;
}

.container-lang .nodejs p span {
    color: #43853d;
    font-weight: bold;
    border-bottom: 1px solid #43853d;
}

.container-lang .mongo p span {
    color: #13aa52;
    font-weight: bold;
    border-bottom: 1px solid #13aa52;
}

.container-lang .react p span {
    color: #61dafb;
    font-weight: bold;
    border-bottom: 1px solid #61dafb;
}

.container-lang .redux p span {
    color: #7D3C98;
    font-weight: bold;
    border-bottom: 1px solid #7D3C98;
}

.break-line {
    background: url("../img/break-line2.jpg");
    background-position: center;
    background-size: cover;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
}

.break-line article h1 {
    color: #C0392B;
    text-align: center;
    padding-top: 30px;
}

.break-line article p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    margin: 20px 20px;
}

.break-line article p span {
    background-color: #FADBD8;
    color: #E74C3C;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.container .summary article .container-summary {
    margin-top: 20px;
    height: 200px;
    padding-bottom: 10px;
}

.container .summary article .container-summary img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 3px solid #C0392B;
    border-radius: 50%;
}

.container .summary article .container-summary p {
    padding: 0 50px;
}

.container .summary article .container-summary p span {
    font-weight: bold;
    color: #2471A3;
    border-bottom: 2px solid  #2471A3; 
}

.container .contact {
    text-align: center;
}

.container .contact ul {
    padding: 10px 0;
}

.container .contact ul li {
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    border-spacing: 5px;
    margin: 5px;
}

.container .contact ul li i {
    color: #2471A3;
}

.container .contact ul li i a{
    text-decoration: none;
    color: #2471A3;
}

.container .projects {
    text-align: center;
}

.container .projects ul {
    padding: 10px 0;
}

.container .projects ul li {
    list-style: none;
}

.container .projects ul li i a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-spacing: 5px;
    color: #2471A3;
}

@media ( max-width: 768px ){

    .container {
        display: block;
        width: 768px;
    }

    .container .title article{
        display: block;
        text-align: center;
        width: 48%;
        margin-top: 10px;
        height: 500px;
    }

    .container section h2 {
        font-size: 30px;
    }

    .container .title article p{
        font-size: 20px;
    }
}

@media ( max-width: 576px ){
    
    .container {
        display: block;
        width: 576px;
    }

    .container .title article{
        width: 100%;
    }

    .container .title article img {
        width: 300px;
    }

    .container .title article p{
        font-size: 25px;
    }

    .container section h2 {
        font-size: 40px;
    }

    .break-line article p {
        font-size: 25px;
    }

    .container .summary article .container-summary {
        text-align: center;
        height: 550px;
    }

    .container .summary article .container-summary img {
        float: none;
    }

    .container .summary article .container-summary p {
        font-size: 25px;
    }
    
}

footer {
    background-color: rgb(0, 0, 0);
    color: white;
}

footer p{
    margin-bottom: 0;
    text-align: center;
    font-size: 15px;
    padding: 20px 0;
}